body{
    font-family: arial,sans-serif;
    margin: 0;
}
.mic{
    width:15px;
    position: absolute;
    top: 269px;
    right: 380px;
    z-index: 1;
    height: 20px;
    width: 20px;
}
.container{
    line-height: 0;
}
.dot1{
    margin: 1px;
    padding: 0;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: rgb(128,128,128) ;
   
}
.gmail{
    margin-left: 15px;
    margin-right: 25px;
    style: normal;
    weight: 400;
    size: 13px;
    margin-top: 20px;
    margin-right: 75px;
    text-align: end;   
    padding: 2px 9px 5px 5px; 
}
.google{
    
    width: 272px;
    height: 92px;
    position: absolute;
    top: 147px;
    left: 547px;
}
.google-search{
    font-family: arial,sans-serif;
    background-color: rgb(244, 244, 244);
    color: #5F6368;                /*168 168 168 */
    width:10%;
    height:3em;
    border-width: 1px;
    border-color: rgb(250, 250, 250);
    border-radius: 5px;
    background-image: GooglemicN();
    position: absolute;
    top: 345px;
    left: 540px;
}

.mcontainer{
    position: absolute;
    display: inline;
    margin-left: 1300px;
}
.lucky{
    background-color: rgb(244, 244, 244);
    color: #5F6368;
    width:10%;
    height:3em;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    position: absolute;
    top: 345px;
    left: 690px;
}

.s{ 
    border-radius: 50%;
    display: inline;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    border-color: green;
  
}
.search-bar{
   
    position: left;
    background-repeat: no-repeat;
    border: 0.5px solid rgb(211, 211, 211);
    display: block;
    width: 43%;
    padding: 1%;
    border-radius: 5em;
    position: absolute;
    top: 260px;
    left: 380px;
} 


.search-icon{
    width:20px;
    position: absolute;
    top: 271px;
    left: 392px;
}


/*  last three classes */

.foot-container{
    display: block;
    background-color: #F2F2F2;
    padding: 15px;
    margin: 0;
}

.footer1{
    border-style: solid;
    border: 5px;
    border-width: 1em;
    border-color: rgba(12, 11, 11, 0.034);
    background-color: #f2f2f2;
    padding: 14px 9px 14px 26px;
    margin-top: 460px;
    margin-bottom: 0; 
    display: block;
    color:  #5F6368;     /*text color*/
}

.footer2{
    padding: 10px;
    background-color: #F2F2F2;
    color: #5F6368;
    margin-top: 0;
    display: inline;
}
